body{
    font-family: 'Poppins', sans-serif;
   

}
.top-part{
    display: flex;
    

}
.half-width{
    width: 50%;
    padding-left: 20px;
    
}
.half-width img{
    width: 80%;
}
.stay-focus{
    border-left: 5px solid red;
    border-radius: 2px;
    
}
.sweet-orange{
    color: rgba(255, 173, 90, 1) ;
}
.linked-button{
    background-color:rgba(255, 89, 89, 1);
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    
}
.mission-items{
    display: flex;
}
.my-mission-2022 h1{
text-align: center;
}
.mission-item{
    padding-left: 10px;
    margin-left: 10px;
    border-radius: 5px;
    
}
#mission-item-1{
    background-color: salmon;
}
#mission-item-2{
    background-color: palevioletred;
}
#mission-item-3{
    background-color: bisque;
}
.mission-item img{
    width: 40%;
}
.community{
    display: flex;
    margin-top: 10px;
  
}
.community-info{
    width: 60%;
    margin-left: 10px;
    padding-left: 10px;
}
.community-img{
    width: 40%;
    margin-left: 10px;
    padding-left: 10px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
}
.community-img img{
    width: 80%;
}